      .caixa-transicao{
        width: 100px;
        height: 100px;
        background-color:#3498db;
        transition: transform 1s ease-in-out;
      }
       
      .container:hover .caixa-transicao{
        transform: translateX(200px);
      }
    
